.home-container {
	height: 100%;
}

.profile-container {
	height: auto;
	background-color: red;
}

.options-container {
	height: auto;
	background-color: blue;
}

.noteList-container {
	height: auto;
	background-color: green;
}

.note-container {
	height: auto;
	background-color: yellow;
	margin: 5px;
}

.btn-group-vertical {
	width: 98%;
	margin: 1%;
}
.circular {
	position: relative;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 70%;
	height: auto;
	padding-top: 70%;

	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

	background-repeat: no-repeat;
	background-size: contain !important; 
}

.small-circular {
	position: relative;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	min-width: 35px;
	min-height: 35px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

	background-repeat: no-repeat;
	background-size: contain !important; 
}
.align-center {
	display: block;
	margin-left: auto ;
  	margin-right: auto ;
}

