<div  class="note-container container-fluid">
	<div class="row">
		<div class="col-md-1 col-xs-1"  >
			<div class="row">
				<div style="background: url(http://graph.facebook.com/1541703484/picture?width=300)" class="small-circular align-center "></div>
			</div>
			<div class="row">
				<h6>Leonel Fishkel</h6>
			</div>
		</div>
		<div class="col-md-11 col-xs-11">
			<p>
				TEXT {{note}} Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gal
			</p>
		</div>
	</div>
</div>