<div class="profile-container" ng-controller="profileCtrl">
<div class="container-fluid">
	<div class="row">
		<div style="background: url(http://graph.facebook.com/1541703484/picture?width=300)" class="circular align-center"/>
	</div>
	<div class="row">
		<h3><span class="label label-default align-center">Leonel Fishkel</span></h3>
		<h5><span class="label label-default align-center">data</span></h5>
		<h5><span class="label label-default align-center">data</span></h5>
		<h5><span class="label label-default align-center">data</span></h5>
	</div>
</div>